@model List<Tes.Domain.RoomResponse>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Products</h4>
                </div>
            </div>
            <div style="padding-left:10px">
                <button class="mt-2 btn btn-primary rounded-pill" onclick="Detail('Insert')">
                    <i class="ri-add-circle-fill" style="position:relative; top:2px;"></i>
                    Create New
                </button>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-hover dataTable" style="font-size:12px">
                        <thead>
                            <tr class="ligth">
                                <th>No</th>
                                <th>Product Code</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Desc</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.Raw(count++)
                                        <span class="productId" style="display:none">@item.ID</span>
                                    </td>
                                    <td>
                                        <span class="code">@item.ProductCode</span>
                                    </td>
                                    <td>
                                        <span class="name">@item.Name</span>
                                    </td>
                                    <td>
                                        <span class="price">
                                            @string.Format("Rp. {0}", item.Price.ToString("N2"))
                                        </span>
                                    </td>
                                    <td>
                                        <span class="desc">@item.Description</span>
                                    </td>
                                    <td>
                                        <a class="btn-edit btn btn-sm bg-primary" data-toggle="tooltip" data-placement="left" title="" data-original-title="Edit" onclick="Detail('Update', @item.ID)">
                                            <i class="ri-xl ri-pencil-line mr-0" style="position:relative; top:3px;"></i>
                                        </a>
                                        <a class="btn-delete btn btn-sm bg-danger" data-toggle="tooltip" data-placement="left" title="" data-original-title="Delete" onclick="Detail('Delete', @item.ID, '@item.Name', '@item.ProductCode')">
                                            <i class="ri-delete-bin-line mr-0"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Product Code</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Desc</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_PopupDialog")

<style>
    .mandatory:after {
        content: "*";
        color: red;
        margin: 0 5px;
    }
    #dialog .modal-dialog{
        width:700px;
    }
</style>

<script>
    function Detail(transType, id, name, code){
        debugger;
        // var id = null;
        // if(transType != "Insert"){
        //     id = $(this).closest("tr").find(".userId").val();
        // }
        var entity = {
            ID: id,
            FormMode: transType
        };
        var title = "Create New Product";
        if(transType == "Update"){
            title = "Edit Product";
        }

        if(transType == "Insert" || transType == "Update"){
            // debugger;
            var param = {
                param1: '@Url.Action("Detail", "Product")',
                param2: entity,
                param3: title,
                param4: "dialog"
            };
            OpenPopup(param);
        }
        else{
            // var name = $(this).closest("tr").find(".name").text();
            // var code = $(this).closest("tr").find(".code").text();
            entity = {
                TransactionType: transType,
                ID: id,
                ProductCode: code
            };
            ConfirmationMessage("Confirmation",
                 "Are you sure you want to " + transType.toLowerCase() + " product " + name + "?",
                "question", "Yes", "Success",
                "Data deleted successfully.", "DataTransaction",
                {entity: entity, param1: '@Url.Action("Submit", "Product")',
                param2: 'Delete', param3: null}
            );
        }
    }

    $(".btn-view").click(function(){
        var id = $(this).closest("tr").find(".productId").val();
        var entity = {
            ID: id
        };
        var param = {
            param1: '@Url.Action("Detail", "Product")',
            param2: entity,
            param3: "Detail Item",
            param4: "dialog"
        };
        OpenPopup(param);
    });

</script>
